.title {
  justify-content: center;
  font-size: x-large;
  font-weight: 700;
}
.titleTabs {
  font-weight: 600;
}
.btnThem {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

/* footer */

.rowFooter {
  padding-top: 20px !important;
  padding: 30px;
  background-color: #bee9e8;
  /* background-color: #aed9e0; */
}
.rowFooter .titleFooter {
  font-size: 17px;
  color: red;
  text-align: center;
}
.rowFooter .contentFooter {
  font-size: 16px;
}
.ColMangXaHoi {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.iconFbYoutube {
  padding-top: 10px;
}
.socialFooter1 {
  padding-right: 10px;
}
.socialFooter2 {
  padding-right: 10px;
}

.ColMenuFooter {
  display: flex;
  flex-direction: column;
}
.contentMenuFooter {
  display: flex;
  /* justify-content: center; */
}
.contentMenuFooter a {
  text-decoration: none;
}
.menuF {
  font-size: 16px;
  font-weight: 700;
}
.ColContactFooter {
  display: flex;
  flex-direction: column;
}
.rowFooter h5 {
  text-align: center;
}
.tabheight {
  min-height: 500px;
}

.btnLogin {
  text-decoration: none;
  border-radius: 10px;
  padding: 5px;
  color: white;
  background-color: black;
}
.btnLogin:hover {
  background-color: #edf2f4;
  border: solid 1px black;
  color: black;
}

